version: "3.9"

services:
  db:
    image: postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_DB: todo
      POSTGRES_USER: todo_user
      POSTGRES_PASSWORD: todo_pass
    ports:
      - "5432:5432"
    volumes:
      - todo_db:/var/lib/postgresql/data

volumes:
  todo_db:
